* {
    font-family: sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    height: 80px;
    width: 100%;
    margin-bottom: 16px;
    box-shadow: 0px 3px 2px 4px rgba(136, 136, 136, 0.1);
}

.max-width {
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 48px;
    margin: 0 8px;
}

#content {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.poke-card {
    margin: 8px;
    cursor: pointer;
    width: 240px;
    height: 160px;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    gap: px;
    color: white;
}

.poke-card:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 1px black;
}

.poke-card:active {
    transform: scale(1);
}

.pokemon-id {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.404);
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.id {
    align-self: flex-end;
    margin-right: 10px;
}

.pokemon-id span {
    justify-self: flex-end;
}

h3 {
    margin: 0;
}

.pokemon-name {
    font-size: 24px;
}

.short-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 0 8px 16px;
    padding-bottom: 40px;
}

.type {
    width: fit-content;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 14px;

}

.input-group img {
    margin-left: 0;
    height: 24px;
}

.form-control {
    height: 20px;
}

.pokemon-sprite {
    height: 83px;
}

.load-container {
    border: 1px solid;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.load-container:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 1px black;
}

.load-container:active {
    transform: scale(1);
}

.load-container img {
    height: 40px;
}