.bg-grass-type {
    background-color: rgb(119, 220, 85) ;
}

.bg-grass {
    background-color: rgb(119, 200, 85) !important;
}

.bg-poison {
    background-color: rgba(170, 85, 153);
}

.bg-poison-type {
    background-color: rgb(190, 95, 170);
}

.bg-normal {
    background-color: rgba(170, 170, 153);
}

.bg-normal-type {
    background-color: rgb(180, 180, 170);
}

.bg-fire {
    background-color: rgba(255, 68, 34) !important;
}

.bg-fire-type {
    background-color: rgb(255, 95, 60) ;
}

.bg-water {
    background-color: rgba(51, 153, 255);
}

.bg-water-type {
    background-color: rgb(75, 180, 255);
}

.bg-electric {
    background-color: rgba(255, 204, 51);
}

.bg-electric-type {
    background-color: rgb(255, 220, 70);
}

.bg-ice {
    background-color: rgba(102, 204, 255);
}

.bg-ice-type {
    background-color: rgb(120, 220, 255);
}

.bg-fighting {
    background-color: rgba(187, 86, 68);
}

.bg-fighting-type {
    background-color: rgb(200, 100, 80);
}

.bg-ground {
    background-color: rgba(221, 187, 85);
}

.bg-ground-type {
    background-color: rgb(240, 200, 100);
}

.bg-flying {
    background-color: rgba(136, 154, 255);
}

.bg-flying-type {
    background-color: rgb(150, 170, 255);
}

.bg-psychic {
    background-color: rgba(255, 85, 153);
}

.bg-psychic-type {
    background-color: rgb(255, 110, 170);
}

.bg-bug {
    background-color: rgba(169, 187, 34);
}

.bg-bug-type {
    background-color: rgb(190, 200, 50);
}

.bg-rock {
    background-color: rgba(187, 170, 102);
}

.bg-rock-type {
    background-color: rgb(200, 190, 120);
}

.bg-ghost {
    background-color: rgba(102, 102, 187);
}

.bg-ghost-type {
    background-color: rgb(120, 120, 200);
}

.bg-dragon {
    background-color: rgb(121, 104, 238);
}

.bg-dragon-type {
    background-color: rgb(140, 120, 255);
}

.bg-dark {
    background-color: rgba(119, 85, 68);
}

.bg-dark-type {
    background-color: rgb(140, 100, 90);
}

.bg-steel {
    background-color: rgba(170, 170, 187);
}

.bg-steel-type {
    background-color: rgb(190, 190, 200);
}

.bg-fairy {
    background-color: rgba(238, 153, 238);
}

.bg-fairy-type {
    background-color: rgb(255, 170, 255);
}